

/*----------CCS_index---------*/
*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.estiloHead {
  color: black;
  background-image: url(../Imagenes/imgenppalgrande.jpg);
}

.estiloServicio {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  background-image: url(../Imagenes/Nuestros\ Servicios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0;
}

.estiloFaciales {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  background-image: url(../Imagenes/inyecto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0;
}

h3.estiloCorporales {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  background-image: url(../Imagenes/cuerpo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0;
}

.menuHamburguesa{
  background-color: black;
}
h3.estiloCapilares {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  background-image: url(../Imagenes/plasmamasculino.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 0;
}

.estiloQuienes {
  font-size: 2rem;
  background-color: #18658A;
}

h2.titleQuienes {
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  padding: 4rem 0;
  
}

h2.estiloContacto {
  font-size: 3rem;
  color: beige;
  text-decoration: none;
  grid-area: footer;
  justify-items: center;
}

.estiloForm{
  color: beige;
  font-size: 2rem;
}
.contacto {
  
  background-color: #18658a;
}

ul .estiloRedes {
  list-style: none;
}

.imgRedes {
  max-width: 100px;
  max-height: 100px;
  
  
}
.Fixed{
  color: black;
}

.estiloQuienes {
  color: beige;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.estiloHead {
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}



.cambiocolor-link :hover {
  color: #18658A;
}



html {
  font-size: 62.5%;
}

.imgLogo {
  max-width: 100%;
  height: auto;
  
}

header nav ul li {
  padding: 1.5rem;
}

.estiloHead {
  font-size: 2rem;
  background-image: url(../Imagenes/imgenppalgrande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}

.menuHamburguesa {
  background-color: white;
}

.navbar-collapse {
  flex-grow: 0;
}

.estiloRedes{
  display: flex;
  margin-top: 2rem;
  margin: 2rem;
  justify-content: center;
 
  
}


.embed-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*----------CCS_TRATAMIENTOS---------*/
.titulos {
  font-size: 3rem;
  text-align: center;
 
}

.contA {
  box-sizing: border-box;
}




.imgtrat {
  max-width: 100%;
  height: auto;
}

.txt {
  margin-top: 4rem;
  text-align: justify;
}

.maps {
  justify-items: center;
  font-size: 2rem;
  color: beige;
}

.cambiocolor-link a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.cambiocolor-link h2 {
  color: #18658A;
  font-weight: bold;
  text-decoration: none;
}

.cambiocolor-link{
   color: black;
  font-weight: bold;
  text-decoration: none;
}
/*---------------tablet----------*/
@media screen and (max-width: 768px) {
  .Fixed, .pie, .estiloQuienes {
    grid-template-columns: none;
    justify-content: center;
  }
}
/*---------------Animacion----------*/
.estiloFaciales:hover {
  transform: scale(90%);
  transition: all 1s;
}

.estiloCorporales:hover {
  transform: scale(90%);
  transition: all 1s;
}

.estiloCapilares:hover {
  transform: scale(90%);
  transition: all 1s;
}

.estiloServicio:hover {
  transform: scale(90%);
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
